form{
    text-align: start;
    max-width: 420px;
    margin: 0 auto;
}
.inp{
    border-radius: 5px;
    width: 390px;
    padding: 8px 8px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(150, 150, 150);
    margin-top: 4px;
}
label{
    display: inline-block;
    font-weight: 600;
    margin-top: 15px;
}
button{
    cursor: pointer;
    background-color: rgb(150, 145, 145);
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 20px;
}
button:hover{
    background-color: black;
    color: white;
}

.error{
    color: red;
}