body {
  margin: 0;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 400;
}
div,
input,
button,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  font-size: 16px;
}
::-webkit-input-placeholder {
  color: rgb(184, 184, 184);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
